<div class="card" style="width: 100%;">
    <div class="card-header">
      All Accounts
    </div>
    <div class="card-body">
    <table class="table table-hover table-bordered col-sm">
      <thead class="thead-light">
        <tr >
          <th>Account No</th>
          <th>Account Type</th>
          <th>Balance</th>
          <th class="fit">Opening Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let account of allAccountList">
          <td>{{account.accountNo}}</td>
          <td>{{account.accountType}}</td>
          <td>₹ {{account.balance}}</td>
          <td>{{account.openingDate| date:"dd.MM.y"}}</td>
        </tr>
      </tbody>
  </table>
</div>
</div>